.app-form {
  display: flex;
  flex-direction: column;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.section-heading {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 0;
  text-align: le;
}

.form-field {
  padding: 10px 0;
}

.app-label {
  font-weight: bold;
  padding-right: 5px;
  width: 300px;
  display: inline-flex;
}
